<!DOCTYPE html>
<html>
<head>
    <title>{{title}} -- About</title>
    {{> head}}
    <style>
    #gravatar {
        margin: 0 1em 0 0;
        border: 1em solid #221009;
        float: left;
    }

    @media (max-width: 480px) {
        #gravatar {
            display: block;
            float: none;
            clear: both;
            margin: 1em auto;
        }
    }

    #info {
        list-style-position: inside;
    }
    </style>
</head>
<body class="about">
    {{> header}}

    <div class="section">
        <div class="sectionHeader">
             <h1>About</h1>
         </div>
         <div class="sectionContent">
            <img id="gravatar" src="http://www.gravatar.com/avatar/00ac28bdce61e7db41be57fb3b7f3525?s=150">

            <p>I'm James Burke. I work on open source, front-end web code,
                including
                <a href="http://requirejs.org">RequireJS</a> and
                <a href="http://volojs.org">volo</a>.
                In a previous life I was a
                <a href="http://dojotoolkit.org/">Dojo</a> core contributor.
                More info about me:</p>

            <ul id="info">
                <li><a href="https://github.com/jrburke">GitHub</a></li>
                <li><a href="https://twitter.com/jrburke">Twitter</a></li>
                <li><a href="https://twitter.com/jrburke">LinkedIn</a></li>
            </ul>

            <p>Right now I work at <a href="http://mozilla.com">Mozilla</a>
            in the Labs group, working on code related to web apps.</p>
        </div>
    </div>
</body>
</html>
