* {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
}
body {
  padding: 0;
  margin: 0 auto;
  width: 90%;
  background-color: #FFFFFF;
  font-size: 100%;
  font-family: "Avenir Next", Verdana, sans-serif;
}
section, article, aside, footer, header, nav, hgroup {
  display: block;
}
.emphasized {
  font-weight: bold;
}
.jrbLogo {
  width: 100%;
  max-height: 324px;
  position: relative; /* position needs to be specified for z-index to work */
  z-index: 10; /* needs to be on top so it hides the .bottomSection when in collapsed state */
  background: white; /* this helps make this section opaque to any element hidden behind it */
}
.jrbLogo svg a {
  text-decoration: none;
}
.logoDot, .highlight { 
  fill: #FFAC00; /* orange */
}
.logoDotSpace, .iconWhiteSpace {
  fill: #FFFFFF;
}
.logoJ, .icon {
  fill: #000000;
}
.iconSearch {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.logoLoopSpace {
  fill: #4971B3; /* blue */
}
.topBar {
  width: 100%;
  max-width: 882px;
  height: 24px;
  position: relative;
  z-index: 10;              /* needs to be on top so it hides the .bottomSection when in collapsed state */
  background-color: #FFFFFF; /* this helps make this section opaque to any element hidden behind it */

  display: -webkit-flex; /* Safari  */
  display: -ms-flexbox;  /* Tweener: IE 10  */
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.topBarItem1 {
  width: 93.5%;
  height: 24px;
  max-width: 833px;
}
.topBarItem2 {
  width: 5%;
  height: 24px;
  min-width: 30px;
  margin-left: 1%;
}
#navArrow:hover {
  fill: #4971B3;
}
.menuContainer {
  width: 100%;
  max-width: 882px;  
  display: -webkit-flex; /* Safari */
  display: -ms-flexbox; /* Tweener: IE 10 */
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;  
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.menuItem {
  width: 100%;
  max-width: 196px;
  height: 100%;
  max-height: 33px;
}
.menuContainer .menuItem:hover .icon, .menuContainer .menuItem:focus .icon {
  fill: #FFAC00;
}
.menuContainer .menuItem:hover .iconSearch, .menuContainer .menuItem:focus .iconSearch {
  fill: #FFFFFF;
  stroke: #FFAC00;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.bottomBar {
  width: 100%;
  max-width: 882px;
  height: 22px;
}
#navMenu .bottomSection {
  -webkit-transition-property: transform height;
  transition-property: transform height;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-duration: 35ms;
  transition-duration: 35ms;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  height: 55px;
  overflow: hidden;
}
#navMenu.closed .bottomSection {
  -webkit-transform: translateY(-55px);
  transform: translateY(-55px);
  height: 0; /* specify to prevent space even when .bottomSection is hidden behind .jrbLogo */
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #4971B3; /* blue */
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.sectionHeader {
  margin: 3em 0 1em 0;
}
.datetime {
  color: #B3AFA7; /* lt grey */
  margin-left: 1em;
}
.sectionHeader h1, .sectionHeader .datetime {
  display: inline; 
}
.sectionContent {
  margin: 1em 0;
}
.summary {
  margin: 2em 0 0 0;
}
.summary h2, .summary .datetime {
  display: inline;
}
.separator {
  width: 100%;
  height: 33px;
}
.footer {
  width: 10%;
  min-width: 200px;
  padding-top: 1em;
  padding-left: 3em;
  height: 10%;
  max-height: 200px;
  margin: 0 auto;
}
.footer svg a {
  text-decoration: none;
}

/* MEDIA QUERIES */
@media (max-width: 480px) {
  .sectionHeader {
      margin: 2em 0 0 0;
  }
  .extendedTitle {
      display: none;
  }
  .sectionContent {
      margin: 0;
  }
  .summary {
      margin: 1em 0 0 0;
  }
}
@media only screen and (max-width: 680px) {
  .jrbLogo {
      max-height: 200px;
  }
}
@media only screen and (max-width: 613px) and (min-width: 472px) {
  .topBarItem1 {
    position: relative;
    top:  -2px;
  }
}
@media only screen and (max-width: 471px) {
  .topBarItem1 {
    position: relative;
    top:  -5px;
  }
}

/* START PRISM */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
 
code,
pre {
    border-radius: .5em;
    color: #221009;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

pre {
    background: #A8A8A8;
}

/* Inline code */
:not(pre) > code {
    padding: .1em;
    border-radius: .3em;
    background: #dddddd;
    font-size: smaller;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #f0f0f0;
}

.token.punctuation {
    color: #4C3D6E;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
    color: #6E3D5F;
}

.token.selector,
.token.attr-name,
.token.string {
    color: #3D6E4C;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #6E4C3D;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}


.token.regex,
.token.important {
    color: #e90;
}

.token.important {
    font-weight: bold;
}

.token.entity {
    cursor: help;
}
/* END PRISM */
